*{box-sizing: border-box;}
body{margin: 0;padding: 0;font-family: "Merriweather";background-color: #222;color: #eee;}
a{color: inherit;text-decoration: inherit;}

#line {
    width: 90%;
    margin-right: 5%;
    height: .3vh;
    background-color: #eee;
    border-radius: 99px;
    margin-bottom: 1.5vh;
}
main h3 {
    margin: 0;
}

#artist-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
#artist-grid-item {
    width: fit-content;
    background-color: #111;
    padding: 5px;
    border-radius: 20px;
    margin-bottom: 2vh;
    justify-self: center;
}
#artist-grid-item img {
    width: 15vw;
    border-radius: 20px;
    height: 15vw;
    object-fit: cover;
    cursor: pointer;
}
#artist-grid-item button {
    cursor: pointer;
    width: 15vw;
    border-radius: 20px;
    background-color: #222;
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    outline: none;
}
#artist-carousel {
    width: 33vw;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
}
#btn {
    width: 2vw;
    height: 2vw;
    border: none;
    outline: none;
    border-radius: 99px;
    margin: 0;
    background-color: rgba(0,0,0,0.7);
    color: #eee;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}
.next{
    right: 0;
}
#artist-carousel-track {
    display: flex;
    transition: transform 0.5s ease;
    width: calc(33vw * 9);
}
#artist-carousel-item {
    flex: 0 0 33vw;
    height: 50vh;
    cursor: pointer;
}
#artist-carousel-item>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#artist-carousel-item>div{
    background: linear-gradient(0deg,rgba(0, 0, 0, 1) 0%,rgba(0, 0, 0, 0.7) 70%, rgba(0, 0, 0, 0) 100%);
    width: 100%;
    height: 20%;
    position: absolute;
    bottom: 0;
}
#artist-details img {
    width: 40vw;
    border-radius: 30px;
}
#artist-details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20vw;
}
#album-grid {
    margin-top: 2vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#album-grid-item {
    width: fit-content;
    background-color: #111;
    padding: 5px;
    border-radius: 20px;
    margin-bottom: 2vh;
    justify-self: center;
}
#album-grid-item img {
    width: 30vw;
    border-radius: 20px;
    height: 30vw;
    object-fit: cover;
}
#artist-register {
    padding-left: 10vw;
    padding-right: 10vw;
}
#artist-register>section {
    width: 80%;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
#artist-image {
    width: 20vw;
    object-fit: cover;
}
#artist-albums {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
#artist-albums>div {
    width: 20vw;
    height: fit-content;
    padding: 2vw;
    margin-bottom: 20px;
    background-color: #111;
    border-radius: 20px;
}
#artist-albums>button {
    order:9999;
    background-color: #111;
    border: none;
    outline: none;
    width: 20vw;
    height: fit-content;
    padding: 2vw;
    border-radius: 20px;
    color: inherit;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
}
#create-artist {
    width: 80vw;
    background-color: #111;
    border: none;
    outline: none;
    height: fit-content;
    padding: 2vw;
    border-radius: 20px;
    color: inherit;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
    margin-top: 10vh;
}
footer{
    width: 100%;
    display: flex;
    flex-direction: column;
}

footer h1 {
    margin: 0;
    font-size: 1.5em;
}
footer h2 {
    color:rgb(114, 149, 163);
    margin: 0;
    font-size: 1.3em;
}
footer>div {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
footer>div>section {
    width: 30%;
}
footer img {
    border-radius: 20px;
    width: 8vw;
    margin-right: 10px;
    object-fit: cover;
}
footer>div>section>div {
    display: flex;
}
footer>div>div{
    width: 70%;
}
footer>div>div>p {
    margin-right:20px;
    text-align: justify;
    margin-bottom: 20px;
}
footer>div>section>section {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
}
footer p {
    margin: 0;
}
footer a {
    color: rgb(114, 149, 163);
}
footer ul {
    list-style: none;
    padding: 0;
}
@media (max-width:1300px) {
    #artist-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
    #artist-grid-item img{
        width: 20vw;
        height: 20vw;
    }
}
@media (max-width:1000px) {
    footer>div {
        flex-direction: column;
    }
    footer>div>div {
        width: 100%;
    }
    footer>div>section {
        width: 100%;
    }
    footer img {
        width: 20vw;
    }
    #artist-grid {
        grid-template-columns: 1fr 1fr;
    }
    #artist-grid-item img{
        width: 35vw;
        height: 35vw;
    }
    #album-grid {
        grid-template-columns: 1fr 1fr;
    }
    #album-grid-item img{
        width: 40vw;
        height: 40vw;
    }
}
@media (max-width:600px) {
    footer>div {
        flex-direction: column;
    }
    footer>div>div {
        width: 100%;
    }
    footer>div>section {
        width: 100%;
    }
    footer img {
        width: 20vw;
    }
    #artist-grid {
        grid-template-columns: 1fr;
    }
    #artist-grid-item img{
        width: 80vw;
        height: 80vw;
    }
    #album-grid {
        grid-template-columns: 1fr;
    } 
    #album-grid-item img{
        width: 80vw;
        height: 80vw;
    }
}
